.parallax-background {
  position: relative;

  .parallax-image {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      position: absolute;
      top: 0;
    }
  }

  .parallax-content {
    position: relative;
  }
}